<!-- views/index.erb -->

<div class="container">
  <h2>Default</h2>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Sign-In <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href="/signup">Sign-Up</a></li>
        <li><a class="dropdown-item" href="/signin">Sign-In</a></li>
        <li><a class="dropdown-item" href="/signout">Sign-Out</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Help <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href="/help">Help</a></li>
        <li><a class="dropdown-item" href="/support">Support</a></li>
        <li><a class="dropdown-item" href="/contact">Contact</a></li>
        <li><a class="dropdown-item" href="/about">About</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Admin <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href="/admin">Admin</a></li>
        <li><a class="dropdown-item" href="/debug">Debug</a></li>
        <li><a class="dropdown-item" href="/settings">Settings</a></li>
      </ul>
    </li>
  </ul>
</div>
