<!-- views/index.erb -->

<div class="container">
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" href="/">ReelWords</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Go <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href="/">Play ReelWords</a></li>
        <li><a class="dropdown-item" target="_blank"  href="https://git.morganism.dev/reelwords">Source Code (GitHub)</a></li>
        <li><a class="dropdown-item" target="_blank" href="https://github.com/morganism/reelwords/actions/workflows/ruby.yml">View Test Results</a></li>
        <li><a class="dropdown-item" target="_blank" href="https://git.morganism.dev/reelwords/issues">Issues (Bugs)</a></li>
        <li><a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/morganismdev">morganism linkedin(author)</a></li>
      </ul>
    </li>
  </ul>
  </tr>
  <tr>
  <table>
    <tr>


  <div id="intro" style="display: block">
      <h1>ReelWords</h1>
      <p>Note: You cannot press the letters at this point, you must enter the letters in the input box :-(</p>
      <p><td class=\"tileStore\"><%= @letters.map { |l| "<span class=\"tile\"><span class=\"letter\">#{l}</span><span class=\"score\">#{@scores[l]}</span></span>"  }.join("") %></td></p>
  </div>


    </tr>

    <tr><td>
  <div id="form" style="display: visible;">
  <form action="/" method="post">
    <p>Word: <%= @word %></p>
    <p>Score: <%= @score %></p>
    <p>Total score: <%= @total_score %></p>
    <label for="letters">Enter your word:</label>
    <input type="text" id="letters" name="letters" oninput="enforceLowercaseInput(event)">
    <input type="submit" value="Submit">
  </form>
  </div>
  </td></tr>
  </table>
</div>
